<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play with me!!</title>
  </head>
  <style>
    .user {
      display: inline-block;
      border: 1px solid black;
      border-radius: 2px;
      width: 80px;
      line-height: 40px;
      font-size: 20px;
      text-align: center;
      padding: 2px;
      margin-right: 20px;
      margin-bottom: 5px;
    }
  </style>
  <body>
    <div>
      <h1>친해지길 바라(프로토타입 v1.0.0) </h1>
      <h2>with 집현전 2022.03.30</h2>
    </div>
    <div>
      <form id="input-form">
        <input required type="text" placeholder="인트라 id를 입력해주세요" />
        <input type="submit" value="입력" />
      </form>
    </div>
    <div>
      <form id="input-form-team">
        <input required type="number" placeholder="팀 개수" />
        <input type="submit" value="입력" />
      </form>
    </br>
    </div>
      <span>팀개수 </span>
      <span id="team-num"> </span>
    </br>
      <span>참여인원 </span>
      <span id="intra-id"> </span>
    </br>
      <form method="post" action="/together/team">
        <input id="teamNum" name="teamNum" type="number" />
        </br>
        <input id="intraId" name="intraId" type="text" />
        </br>
        <textarea id="tkim" name="tkim" type="text">i love tkim</textarea>
      <button id="submitButton" type="submit">랜덤 팀원 매칭</button>
      <button id="reset">Reset</button>
    </form>
    </br>
    
    <div id="result"></div>
    <script src="js/together_test.js"></script>
  </body>
</html>
